*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   outline: none;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display';
   font-weight: normal;
   letter-spacing: 1px;
}

body {
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 14px;
   line-height: 1;
   color: #373737;
   background: #f7f7f7;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
}

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}

.hero-section {
background-image: url('../images/background.jpg');
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

header {
   width: 100%;
   background: rgba(0, 0, 0, 0.512);
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* логотип */
.logo img {
   width: 200px;
}

/* меню */
#menu {
   float: right;
}
#menu li {
   display: inline-block;
   margin-right: 30px;
}
#menu a {
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
}
#menu a:hover {
   color: #EF5A42;
}
#menu li:last-child {
   margin-right: 0;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
   display: none;
   position: relative;
   float: right;
   width: 40px;
   height: 40px;
   margin-left: 20px;
   background: #EF5A42;
   cursor: pointer;
}
.nav-toggle span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: white;
}
.nav-toggle span:before {
   top: -10px;
}
.nav-toggle span:after {
   bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
   max-height: 123px;
}

#home {
   background-color: rgba(255, 255, 255, 0.19);
   width: auto;
   height: 700px;
   padding: 30px;
   text-align: center;
}

#home h1 {
   font-size: 100px;
   color: red;
}

#home li {
   margin: 20px;
   font-size: 50px;
   color: red;
}

#about-us {
   color: black;
   padding: 15px;
   text-align: center;
   width: auto;
   height: auto;
   background-image: linear-gradient(to right,#181891, #6495ED, #B0E0E6);
}

#about-us h1 {
   font-size: 80px;
}

#about-us p {
   font-size: 40px;
}

#about-us img {
   height: 200px;
   margin: 10px;
}

#clicks {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
#clicks:hover {
	background-color: #002fed;
}
#clicks:active {
	background-color: #2f599e !important;
}
#clicks:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
#clicks:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}

#contacts {
   padding: 15px;
   width: auto;
   height: auto;
   background-color: rgb(25, 24, 24);
   color: white;
}

#contacts h1 {
   font-size: 25px;
}

#contacts p {
   font-size: 15px;
}


@media (max-width: 768px) {
   /* показываем кнопку для переключения верхней навигации */
   .nav-toggle {
      display: block;
   }
   header {
      padding: 10px 0;
   }
   /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
   #menu {
      max-height: 0;
      background: white;
      float: none;
      position: absolute;
      overflow: hidden;
      top: 63px;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
   }
   /* отменяем обтекание для логотипа и выравниваем по центру*/
   .logo img {
      width: 150px;
   }
 
   /* позиционируем меню на увеличившуюся высоту шапки */
   #menu {
      top: 118px;
   }
 
   /* делаем элементы списка блочными, чтобы они располагались друг под другом */
   #menu li {
      display: block;
      text-align: center;
      border-bottom: 1px solid #EBEBE3;
      margin-right: 0;
   }
   /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
   .posts-list, aside {
      width: 100%;
      float: none;
   }
   .widget-post-title {
      font-size: 1.5em;
   }

#home {
   width: auto;
   height: auto;
   padding: 15px;
}

#home h1 {
   font-size: 50px;
   color: red;
}

#home li {
   margin: 5px;
   font-size: 25px;
   color: red;
}

#about-us {
   color: black;
   padding: 15px;
   text-align: center;
   width: auto;
   height: auto;
   background-image: linear-gradient(to right,#181891, #6495ED, #B0E0E6);
}

#about-us h1 {
   font-size: 30px;
}

#about-us p {
   font-size: 20px;
}

#about-us img {
   height: 100px;
   margin: 5px;
}

#contacts {
   padding: 15px;
   width: auto;
   height: auto;
   background-color: black;
   color: white;
}

#contacts h1 {
   font-size: 15px;
}

#contacts p {
   font-size: 11px;
}

}
